$primary: black;
$primary_color: white;
$primary_mute: rgb(110, 118, 125);
$primary_blue: rgba(29, 161, 242, 1.00);
$primary_border: rgb(47, 51, 54);
$primary_area: rgb(32, 35, 39);


$p_16: 16px;
$f_19: 19px;
$f_15: 15px;